<!DOCTYPE html>
<html>
<head>
  <title>Counter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand", href="/counters">1 to 100</a>
    <ul class="nav">
      <li><a href="/counters/new">Add</a></li>
      <li><a href="/settings">Settings</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>	
<div class="container">
  <div class="row">
    <div class="span9"><%= yield %></div>
    <div class="span3">
      <h2>Instructions</h2>
      Add the word you want to be displayed and the multiple you want it to be displayed on! Add as many as you would like.
    </div>
  </div>
</div>
</body>
</html>